<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/app">OmniBudget</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/app/accounts">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app/cadences">Cadences</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="col-md-12">
    <ng-content></ng-content>
  </div>
</div>
<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon mat-icon-button" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>OmniBudget</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="omni-nav-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/app/accounts">Accounts</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/app/categories">Categories</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/app/cadences">Cadences</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>-->
